@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Exo', sans-serif !important ;
  background-color: rgb(0, 0, 0)!important;
}

.context {
  width: 100%;
  position: absolute;
  top:50vh;
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.boxColor
{
  background-color:rgb(32, 32, 32);
}
.headerColor{
  background-color: rgb(151, 148, 148);
}

.textColor{
  color: rgb(255, 255, 255);
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  border-color: #ffffff;
}

/* ハンバーガメニュー内容の表示色の設定 */xx
.offcanvas.show {
  background-color: #1f1f1f; /* メニューの背景色を指定 */
}
.offcanvas {
  background-color:#222222; /* メニューの背景色を指定 */
}

.opacity{
  background-color: rgba(222, 222, 222, 0.2);
}
